.demos-container {
  columns: 3;
  gap: 2em;
  margin: 4vw 4vw 0;

  @include respond(tab-port) {
    columns: 2;
  }

  @include respond(big-phone) {
    columns: 1;
  }

  & .item {
    border: 1px solid #dde3f1;
    margin-bottom: 2em;
    break-inside: avoid;
    display: block;
    border-radius: 5px;

    & img {
      max-width: 100%;
      object-fit: contain;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    & .des {
      padding: 0 1.5em;

      & h3 {
        font-weight: 600;
        transition: all 200ms ease;
      }

      & .live,
      .source {
        border: 1px solid #0037bf;
        color: #0037bf;
        padding: 1em;
        margin: 0.5em 0 1.5em;
        display: inline-block;
        width: calc(50% - 3em - 2px);
        text-align: center;
        border-radius: 5px;
        font-size: 14px;
        transition: all 200ms ease;

        &:hover {
          cursor: pointer;
          transform: scale(1.04);
          background-color: #0037bf;
          color: white;
        }
      }

      & .source {
        margin-left: 2em;
      }
    }
  }
}
