.hero {
  position: absolute;
  left: 50%;
  top: 30vh;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;

  @include respond(big-phone) {
    top: 35vh;
  }

  & .name {
    font-size: 4vw;

    @include respond(big-phone) {
      font-size: 7.3vw;
    }
  }

  & .title {
    margin-top: 40px;
    font-size: 3.5vw;

    @include respond(big-phone) {
      margin-top: 40px;
      font-size: 6.8vw;
    }
  }

  & .location {
    margin-top: 40px;
    font-size: 2.5vw;

    @include respond(big-phone) {
      margin-top: 40px;
      font-size: 6.3vw;
    }
  }
}
