.side-menu {
  position: fixed;
  left: 30px;
  top: 50%;
  font-size: 18px;
  transform: translateY(-50%);
  z-index: 3;
  ul {
    list-style: none;
  }
  li {
    position: relative;
    margin: 10px 0;
    transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
  }
  li:hover {
    cursor: pointer;
    transform: translate(16px, 0);
  }
  a {
    text-decoration: none;
    color: #000;
  }
  @include respond(normal-phone) {
    nav {
      display: none;
    }
  }
}
